fastapi==0.141.1
uvicorn[standard]==0.54.0
celery[redis]==5.6.3
redis==6.4.0
psycopg[binary]==3.3.6
psycopg-pool==3.3.3
beautifulsoup4==4.15.0
pydantic-settings==2.15.0
argon2-cffi==25.1.0
cryptography==46.0.3
PyJWT==2.15.1
websockets==15.0.1
vnai @ https://vnstocks.com/api/packages/files/vnai/2.6.3/vnai-2.6.3-py3-none-any.whl#sha256=a378d7cebe50d2a7c2ea2fba7f66c3dd2e706bf240fed17cd57b7c088e721446
vnstock @ https://vnstocks.com/api/packages/files/vnstock/4.0.9/vnstock-4.0.9-py3-none-any.whl#sha256=b51358c58c1fd9a299379f2d49b5c29e692fbae49e75f2ebc7cbfcc1cb996e64
